html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "projectBold";
  src: url("../assets/fonts/ProjectSansBold.ttf");
}
@font-face {
  font-family: "projectReg";
  src: url("../assets/fonts/ProjetSansReg.ttf");
}
@font-face {
  font-family: "projectItalic";
  src: url("../assets/fonts/ProjectSansItalic.ttf");
}
header {
  background: #ff0;
}

.hide-lightbox {
  display: none;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#landingPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #ff2f78;
  background: -moz-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -webkit-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -o-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -ms-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2f78', endColorstr='#e32fd1', GradientType=1 );
}
#landingPage #logo {
  width: 250px;
  height: auto;
}
#landingPage #logo:after {
  display: block;
  height: 2px;
  width: 350px;
  position: absolute;
  bottom: -75px;
  left: 175px;
  background: #fff;
}
#landingPage h1 {
  margin: auto;
  color: #fff;
  font-size: 30px;
  font-family: "projectReg";
  margin-top: 40px;
  line-height: 40px;
  position: relative;
  width: 400px;
}
#landingPage h1:before {
  display: block;
  content: '';
  height: 2px;
  background: #fff;
  width: 200px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -100px;
}
#landingPage #form1 {
  position: absolute;
  right: 0;
  top: -50px;
  background-size: 150%;
}
#landingPage #form2 {
  position: absolute;
  top: bottom;
  left: 0;
}
#landingPage .henry-talking {
  font-family: "Courier New";
  font-size: 22px;
  color: #fff;
  margin-top: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
#landingPage #henry {
  height: 175px;
  position: relative;
  margin-bottom: 50px;
}
#landingPage #henry .bulle-henry-container {
  position: absolute;
  left: 50%;
  height: 160px;
  width: 160px;
  margin-left: -80px;
  top: 0px;
  -webkit-animation: animhenrybulle 0.6s alternate infinite ease-in-out;
  -moz-animation: animhenrybulle 0.6s alternate infinite ease-in-out;
  -ms-animation: animhenrybulle 0.6s alternate infinite ease-in-out;
  -o-animation: animhenrybulle 0.6s alternate infinite ease-in-out;
  animation: animhenrybulle 0.6s alternate infinite ease-in-out;
  animation: rotate 3s infinite ease-in-out;
}
#landingPage #henry .bulle-henry-container div {
  background: transparent;
  height: 10px;
  width: 10px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 8;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
}
@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes animhenrybulle {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
@-moz-keyframes animhenrybulle {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
@-o-keyframes animhenrybulle {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
@keyframes animhenrybulle {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
#landingPage #henry .henry-shadow {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100px;
  height: 8px;
  background: #000000;
  opacity: 0.1;
  border-radius: 70%;
  margin: auto;
  left: 50%;
  margin-left: -50px;
  -webkit-animation: animshadow 0.6s alternate infinite ease-in-out;
  -moz-animation: animshadow 0.6s alternate infinite ease-in-out;
  -ms-animation: animshadow 0.6s alternate infinite ease-in-out;
  -o-animation: animshadow 0.6s alternate infinite ease-in-out;
  animation: animshadow 0.6s alternate infinite ease-in-out;
}
@-webkit-keyframes animshadow {
  from {
    width: 80px;
    height: 4px;
    margin-left: -40px;
    opacity: 0.07;
  }
  to {
    width: 100px;
    height: 8px;
    margin-left: -50px;
    opacity: 0.1;
  }
}
@-moz-keyframes animshadow {
  from {
    width: 80px;
    height: 4px;
    margin-left: -40px;
    opacity: 0.07;
  }
  to {
    width: 100px;
    height: 8px;
    margin-left: -50px;
    opacity: 0.1;
  }
}
@-o-keyframes animshadow {
  from {
    width: 80px;
    height: 4px;
    margin-left: -40px;
    opacity: 0.07;
  }
  to {
    width: 100px;
    height: 8px;
    margin-left: -50px;
    opacity: 0.1;
  }
}
@keyframes animshadow {
  from {
    width: 80px;
    height: 4px;
    margin-left: -40px;
    opacity: 0.07;
  }
  to {
    width: 100px;
    height: 8px;
    margin-left: -50px;
    opacity: 0.1;
  }
}
#landingPage #henry svg {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 20px;
  -webkit-animation: animhenry 0.6s alternate infinite ease-in-out;
  -moz-animation: animhenry 0.6s alternate infinite ease-in-out;
  -ms-animation: animhenry 0.6s alternate infinite ease-in-out;
  -o-animation: animhenry 0.6s alternate infinite ease-in-out;
  animation: animhenry 0.6s alternate infinite ease-in-out;
}
@-webkit-keyframes animhenry {
  from {
    top: 20px;
  }
  to {
    top: 26px;
  }
}
@-moz-keyframes animhenry {
  from {
    top: 20px;
  }
  to {
    top: 26px;
  }
}
@-o-keyframes animhenry {
  from {
    top: 20px;
  }
  to {
    top: 26px;
  }
}
@keyframes animhenry {
  from {
    top: 20px;
  }
  to {
    top: 26px;
  }
}
#landingPage .foreground {
  z-index: 100;
}
#landingPage #info {
  font-family: projectReg;
  box-sizing: border-box;
  font-size: 19px;
  color: #fff;
  text-align: center;
  width: 350px;
  height: 60px;
  background: #ff2f78;
  border-radius: 5px;
  display: block;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}
#landingPage #info div {
  position: absolute;
  left: 56px;
  top: 22px;
  z-index: 100;
}
#landingPage #info input::-moz-placeholder {
  font-family: projectItalic;
  font-size: 23px;
}
#landingPage #info span {
  display: block;
  height: 30px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #ff2f78;
  margin-left: -30px;
}
#landingPage #info span:before {
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  background: #ff2f78;
  top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
}
#landingPage #info span:after {
  display: block;
  z-index: 10;
  content: '';
  position: absolute;
  background: #ff2f78;
  top: 0;
  width: 100%;
  height: 30px;
}
#landingPage .newsletter-form {
  width: 350px;
  font-size: 23px;
  margin: auto;
  margin-top: 20px;
}
#landingPage .newsletter-form .form-section {
  width: 350px;
  background: #e8e8e8;
  border-radius: 5px;
}
#landingPage .newsletter-form .form-section > * {
  display: inline-block;
  vertical-align: middle;
}
#landingPage .newsletter-form .form-section label {
  height: 60px;
  width: 60px;
  overflow: hidden;
  font-size: 0;
  background: url("../assets/images/icon_send.png") no-repeat center center;
  position: relative;
}
#landingPage .newsletter-form .form-section label:after {
  display: block;
  content: '';
  height: 90%;
  width: 2px;
  background: #ead6dd;
  position: absolute;
  right: 0px;
  top: 3px;
}
#landingPage .newsletter-form .form-section input.email {
  width: 211px;
  border: none;
  outline-style: none;
  background: transparent;
  position: relative;
}
#landingPage .newsletter-form .form-section input[type="submit"] {
  background: #fff;
  height: 60px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60px;
  overflow: hidden;
  font-size: 0;
  outline-style: none;
  background-image: url("../assets/images/icon_fleche.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  background: transparent;
}

.vertical-align {
  background: white;
  display: table-cell;
  background: transparent;
}

.vertical-align--middle {
  vertical-align: middle;
  background: transparent;
}

#landingPage #henry svg {
  width: 100px;
  height: 120px;
}

@media only screen and (max-device-width: 768px) {
  #landingPage #logo {
    width: 120px;
  }

  #landingPage h1 {
    margin: auto;
    color: #fff;
    font-size: 20px;
    font-family: "projectReg";
    margin-top: 30px;
    line-height: 26px;
    position: relative;
    width: 300px;
  }

  #landingPage .henry-talking {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #landingPage #henry {
    height: 120px;
  }

  #landingPage #henry svg {
    width: 60px;
    height: 80px;
    margin-left: -30px;
  }

  #landingPage #henry .henry-shadow {
    width: 60px;
    margin-left: -30px;
  }

  #landingPage #info div {
    position: absolute;
    left: 56px;
    top: 12px;
    z-index: 100;
  }

  #landingPage #henry .bulle-henry-container {
    position: absolute;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    top: 10px;
  }

  #landingPage #henry .bulle-henry-container div {
    background: transparent;
    height: 6px;
    width: 6px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 0;
    z-index: 8;
    background: #fff;
    border-radius: 3px;
  }

  #landingPage #info {
    font-family: projectReg;
    box-sizing: border-box;
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 280px;
    height: 35px;
    background: #ff2f78;
    border-radius: 5px;
    display: block;
    margin: auto;
    position: relative;
    -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
  }

  #landingPage .newsletter-form .form-section label {
    height: 30px;
    width: 30px;
    overflow: hidden;
    font-size: 0;
    background: url("../assets/images/icon_send.png") no-repeat center center;
    position: relative;
    background-size: 20px 20px;
  }

  #landingPage .newsletter-form .form-section input[type="submit"] {
    background: #fff;
    height: 30px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
    overflow: hidden;
    font-size: 0;
    outline-style: none;
    background-image: url("../assets/images/icon_fleche.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
  }

  #landingPage .newsletter-form .form-section {
    width: 280px;
    background: #e8e8e8;
    border-radius: 5px;
    margin: auto;
  }

  #landingPage .newsletter-form .form-section input.email {
    width: 202px;
    border: none;
    outline-style: none;
    background: transparent;
    position: relative;
  }

  #landingPage .newsletter-form {
    width: 280px;
  }

  #landingPage #henry {
    margin-bottom: 25px;
  }

  #landingPage #info span:before {
    top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
  }

  body {
    overflow: inherit;
  }
}
