html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #ff0;
}

.hide-lightbox {
  display: none;
}

#landingPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #ff2f78;
  background: -moz-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ff2f78), color-stop(100%, #e32fd1));
  background: -webkit-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -o-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: -ms-linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  background: linear-gradient(45deg, #ff2f78 0%, #e32fd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2f78', endColorstr='#e32fd1', GradientType=1 );
}
#landingPage #logo {
  width: 400px;
  height: auto;
}
#landingPage #logo:after {
  display: block;
  height: 2px;
  width: 350px;
  position: absolute;
  bottom: -75px;
  left: 175px;
  background: #fff;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  background: transparent;
}

.vertical-align {
  background: white;
  display: table-cell;
  background: transparent;
}

.vertical-align--middle {
  vertical-align: middle;
  background: transparent;
}
