@font-face {
  font-family: "projectBold";
  src: url("../assets/fonts/ProjectSansBold.ttf");
}
@font-face {
  font-family: "projectReg";
  src: url("../assets/fonts/ProjetSansReg.ttf");
}

$sp-white : #fff;
$sp-pink :#ff2f78;
$sp-grey :#c7c7c7;
$sp-bg-grey:#e8e8e8;