@import 'reset';
@import 'gui';
@import 'mixin';

header{
 background: #ff0;
}

.hide-lightbox{
 display: none;
}

body,html{
 height: 100%;
 overflow: hidden;
}
#landingPage{
 text-align: center;
 width:100%;
 height:100%;
 background: rgba(255,47,120,1);
 background: -moz-linear-gradient(45deg, rgba(255,47,120,1) 0%, rgba(227,47,209,1) 100%);
 background: -webkit-linear-gradient(45deg, rgba(255,47,120,1) 0%, rgba(227,47,209,1) 100%);
 background: -o-linear-gradient(45deg, rgba(255,47,120,1) 0%, rgba(227,47,209,1) 100%);
 background: -ms-linear-gradient(45deg, rgba(255,47,120,1) 0%, rgba(227,47,209,1) 100%);
 background: linear-gradient(45deg, rgba(255,47,120,1) 0%, rgba(227,47,209,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2f78', endColorstr='#e32fd1', GradientType=1 );
 #logo{
  width:250px;
  height:auto;
  &:after{
   display: block;
   height:2px;
   width:350px;
   position: absolute;
   bottom:-75px;
   left: 175px;
   background: $sp-white;
  }
 }
 h1{
  margin:auto;
  color: $sp-white;
  font-size: 30px;
  font-family: "projectReg";
  margin-top: 40px;
  line-height: 40px;
  position: relative;
  width:400px;

  &:before{
   display:block;
   content: '';
   height: 2px;
   background: $sp-white;
   width:200px;
   position: absolute;
   top:-20px;
   left:50%;
   margin-left: -100px;
  }
 }
 #form1{
  position:absolute;
  right:0;
  top:-50px;
  background-size: 150%;
 }
 #form2{
  position: absolute;
  top:bottom;
  left:0;
 }
 .henry-talking{
  font-family: "Courier New";
  font-size:22px;
  color: $sp-white;
  margin-top: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
 }
 #henry{
  height:175px;
  position: relative;
  margin-bottom: 50px;
  .henry-shadow{
   position: absolute;
   bottom:0;
   display: block;
   width:100px;
   height:8px;
   background: #000000;
   opacity:0.1;
   border-radius: 70%;
   margin:auto;
   left:50%;
   margin-left: -50px;
   -webkit-animation:animshadow 0.6s alternate infinite ease-in-out;
   -moz-animation:animshadow 0.6s alternate infinite ease-in-out;
   -ms-animation:animshadow 0.6s alternate infinite ease-in-out;
   -o-animation:animshadow 0.6s alternate infinite ease-in-out;
   animation:animshadow 0.6s alternate infinite ease-in-out;
  }
  @-webkit-keyframes animshadow{
   from {width:80px;height:4px;margin-left: -40px;opacity:0.07;}
   to {width:100px;height:8px;margin-left: -50px;opacity:0.1;}
  }
  @-moz-keyframes animshadow{
   from {width:80px;height:4px;margin-left: -40px;opacity:0.07;}
   to {width:100px;height:8px;margin-left: -50px;opacity:0.1;}
  }
  @-o-keyframes animshadow{
   from {width:80px;height:4px;margin-left: -40px;opacity:0.07;}
   to {width:100px;height:8px;margin-left: -50px;opacity:0.1;}
  }
  @keyframes animshadow{
   from {width:80px;height:4px;margin-left: -40px;opacity:0.07;}
   to {width:100px;height:8px;margin-left: -50px;opacity:0.1;}
  }
  svg{
   position: absolute;
   left:50%;
   margin-left: -50px;
   top: 20px;
    -webkit-animation:animhenry 0.6s alternate infinite ease-in-out;
    -moz-animation:animhenry 0.6s alternate infinite ease-in-out;
    -ms-animation:animhenry 0.6s alternate infinite ease-in-out;
    -o-animation:animhenry 0.6s alternate infinite ease-in-out;
    animation:animhenry 0.6s alternate infinite ease-in-out;
   }
   @-webkit-keyframes animhenry{
    from {top:20px;}
    to {top:26px;}
   }
   @-moz-keyframes animhenry{
    from {top:20px;}
    to {top:26px;}
   }
   @-o-keyframes animhenry{
    from {top:20px;}
    to {top:26px;}
   }
   @keyframes animhenry{
    from {top:20px;}
    to {top:26px;}
   }

 }

 .foreground{
  z-index:100;
 }
 #info{
  font-family: projectReg;
  box-sizing: border-box;
  font-size: 19px;
  color: $sp-white;
  text-align: center;
  width:350px;
  height: 60px;
  background: $sp-pink;
  border-radius:5px;
  display: block;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
  margin-top: 30px;
  div{
   position: absolute;
   left:56px;
   top:22px;
   z-index:100;
  }
  input::-moz-placeholder{
   font-family: projectItalic;
   font-size: 23px;
  }

  span{
   display: block;
   height:30px;
   width:60px;
   position: absolute;
   top:0;
   left:50%;
   background: $sp-pink;
   margin-left: -30px;
   &:before{
    display: block;
    @include rotate-transform(45deg);
    -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.3);
    content: '';
    position:absolute;
    background: $sp-pink;
    top:-15px;
    left:50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
   }
   &:after{
    display: block;
    z-index:10;
    content: '';
    position:absolute;
    background: $sp-pink;
    top:0;
    width: 100%;
    height: 30px;
   }
  }

 }
 .newsletter-form{
  width:350px;
  font-size: 23px;
  margin:auto;
  margin-top: 20px;
  .form-section{
   width:350px;
   background: $sp-bg-grey;
   border-radius:5px ;
   &>*{
    display: inline-block;
    vertical-align: middle;
   }
   label{
    height:60px;
    width:60px;
    overflow: hidden;
    font-size:0;
    background: url("../assets/images");
    position: relative;
    &:after{
     display: block;
     content:'';
     height: 90%;
     width:2px;
     background: #ead6dd;
     position: absolute;
     right: 0px;
     top:3px;
    }
   }
   input.email{
    width:211px;
    border:none;
    outline-style: none;
    background: transparent;
    position: relative;
   }
   input[type="submit"]{
    background: white;
    height: 60px;
    border:none;
    border-radius: 5px;
    width:60px;
    overflow: hidden;
    font-size: 0;
    outline-style: none;
   }
  }
 }

}

.vertical-align-wrap {
 position: absolute;
 width: 100%;
 height: 100%;
 display: table;
 background: transparent;
}

.vertical-align {
 background: white;
 display: table-cell;
 background:transparent;
}

.vertical-align--middle {
 vertical-align: middle;
 background: transparent;
}